body {
    font-family: "Lato", sans-serif;
    padding: 0px 0px;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: rgb(15, 58, 71);
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
    top: 0;
    left: 0;
  }
  
  .sidenav a, .animacao-menu {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .sidenav a:hover, .animacao-menu:hover {
    color: grey;
  }
  
  .main {
    margin-left: 200px; 
    text-align: center;
    font-size: 20px; 
    padding: 0px 10px;
  }
  
  .active {
    background-color: rgb(15, 58, 71);
    color: white;
  }
  
  .submenu {
    display: none;
    background-color: rgb(51, 69, 75);
    padding-left: 8px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  input[type=text],input[type=password], input[type=email]{
    justify-content: center;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  button {
    background-color: rgb(15, 58, 71);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  .container {
    border: 1px solid #ccc;
    width: 900px;
    display:flex;
    color:rgb(15, 58, 71);
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    
  }
  
  select{
    width: 100%;
    height: 100px;
    justify-content: center;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .corpo{
    border: 1px solid #ccc;
   display: flex;
   justify-content: center;
   width: 100%;
  }
  
  .data{
    width: 150px;
  }