body{
   background-image:url("flores.webp"); 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}


input[type=text], input[type=password], input[type=email]{
  width: 50%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}


select{
  width: 25%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}


button {
  background-color: #3a5a96;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}


input[type=submit] {
  background-color: #3a5a96;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}


button:hover {
  opacity: 0.8;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  width: 20%;
  height: 30%;
  background-color: rgb(15, 58, 71);
  padding: 14px;
  justify-items: center;
}

.pai{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
}





