body{
  background-color: #f2f2f2;
  margin: 0;
  color: rgb(15, 58, 71);
  border-color: black;
  border-top:2px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(15, 58, 71);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    /*text-align: center;*/
    padding: 14px 12px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #36769b;
    /*border-radius: 8px;*/
    color: white;
  }
   
  
  .topnav2 {
    overflow: hidden;
    background-color: rgb(15, 58, 71);
  }
  
  .topnav2 a {
    float: right;
    color: #f2f2f2;
    /*text-align: center;*/
    padding: 14px 12px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav2 a:hover {
    background-color: #36769b;
    color: white;
  }

  .main{
    float:right;
    justify-content: center;
    margin-top: 125px;
    font-size: 100px;
    margin-right: 100px;
  }

  .texto{
    width: 95%;
    justify-content: center;
    text-align: center;
    margin-left:50px;
    margin-top: 100px;
    font-size:50px;
  }

  .divisao {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 125px;
    justify-content: center;
    
  }
  
  .divisao > div {
    color: white;
    background-color: rgb(15, 58, 71);
    width: 500px;
    height: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

   p{
    font-size: 23px;
    margin-left: 15px;
    font-family:Arial, Helvetica, sans-serif;
  }
  h1{
    font-size: 50px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
  }

  .principal{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(15, 58, 71);
    
  }

  .unidade {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size:1px;
    background-color: white;
  }
  
  .unidade > div {
    background-color: rgb(15, 58, 71);
    width: 550px;
    margin: 10px;
    color:white;
    text-align: center;
    font-size: 30px;
  }

